<div class="span10 offset1"><%- model_class = Result -%>
<div class="page-header">
  <h3>Test Results | <%= @results[0].online_test.name %></h1>
</div>

<div id="results_table">
  <%= render 'results' %>
</div>

<%= link_to raw("<i class='icon-chevron-left'></i>&nbsp;Back to Test"),
            online_test_path(@test_id),
            :class => 'btn btn-primary' %>&nbsp;&nbsp;&nbsp;<%= link_to raw("<i class='icon-print'></i>&nbsp;Print Result"),
            print_results_path(@test_id),
            :class => 'btn btn-info' %> </div>
